[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
pytest = "*"
selenium = "*"
pandas = "*"
scipy = "*"
scikit-learn = "*"
flask-cqlalchemy = "*"
jupyter = "*"
blist = "*"
flask-cassandra = "*"

[requires]
python_version = "3.8"
