<html>
{% extends "base.html" %}
{% block title%}acceuil{% endblock %}
<body>
{% block present%}

      <h1 align="center">{% block present_title%}Bienvenue dans l'application MEC-INM de la plateforme CEPS{% endblock present_title%}</h1>
      <br>
      <h3 align="center"> {% block present_texte %}Méta-analyses et Etudes Cliniques sur les Interventions Non Médicamenteuses{% endblock present_texte %}</h3>

<br><br>
            <!-- présentation des fonctionnalités de l'application -->
        <div align="center">
           <p align="center"><a href="/selection/"><button type="button" class="btn btn-outline-primary">Selection</button></a></p>
           <p align="center"><a href="/proposition/"><button type="button" class="btn btn-outline-primary">Proposition</button></a></p>
           <p align="center"><a href="/validation/"><button type="button" class="btn btn-outline-primary">Validation</button></a></p>
           <p align="center"><a href="/travaux/"><button type="button" class="btn btn-outline-primary">Autres fonctionnalités</button></a></p>
        </div>
{% endblock present%}
<br><b>
<div align="center">
    {% include "links.html" %}

</div>

</body>
                                    
</html>