<!--
   page index présentation 
    INCA Search
    pour django 2.2
-->
<html>

{% extends "base.html" %}
{% block headder %}
{% endblock headder %}
{% block present_title %} Bienvenue sur INCA Search {% endblock present_title%}
<body>

    </br><br>
    <!---texte présentation application -->
   
    {% block present_texte %}ceci est l'application de recherches d'études sur les INM{% endblock present_texte %}
    

    <!--- fin texte -->
    {% block footer %}
    {% endblock footer %}
</body>

</html>