<!--
   page index présentation 
    INCA Search
    pour flask
-->
<html>

{% extends "base.html" %}
{% block headder %}
{% endblock headder %}
{% block present_title %} Bienvenue sur INCA Search {% endblock present_title%}
<body>

    </br><br>
    <!---texte présentation application -->
   
    {% block present_texte %}

<div>

      <h3 align="center">>test position ok |  test req count  :  </h3>
    
     <h1 align="center">ceci est l'application de recherches d'études sur les INM et une maladie :</h1><br>
     <h3 align="center"> Vous allez selectionner une categorie puis une sous-categorie puis l'inm correspondante à ces choix.</h3>
     <h3 align="center"> Ensuite , vous selectionnerez une maladie soit par son nom générique, soit par sa localisation ,soit par des mots clés synonymes.</h3>
     <h3 align="center">Ainsi vous allez fabriquer la requête sur les études d'essais randomisées controllés</h3>
    <h3 align="center"> issue de revues Cochrane concernant l'inm et la maladie selectionnée.</h3>
    <br><br>
    <p align="center"><a href="/selection/cat/"><button type="button" class="btn btn-outline-primary">Demarrer</button></a></p>
    <br>
</div> 
    






     {% endblock present_texte %}

    <!--- fin texte -->
    
    

    </br><br">
    <p align="center"><a href="/"><button type="button" class="btn btn-outline-primary">Retour à la page d'acceuil</button></a></p>
</body>

</html>