<html>

{% extends "base.html" %}
{% block headder %}
{% endblock headder %}
{% block present_title %} Bienvenue sur INCA Search {% endblock present_title%}
<body>
     {% block present_texte %}

  <h1 align="center">Recherche par categorie d'intervention non médicamenteuse</h1>
  <p align="center">utiliser le menu ci-dessous</p>
  <br><br>
   
  
  
   
    
<br><br>


<div align="center">
      <h3>Selection d'une categorie</h3>
      <form action="/selection/cat/scat/" method='POST'> 
         <div class="form-group">
             {{form1.cat.label}}
             {{form1.cat}}
         </div>
         {{form1.submit}}
      </form>

         
</div>  
  
  

 
  
   
      {% endblock present_texte %}
     
</body>

</html>